* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1 {
    font-weight: 100;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    min-height: 100vh;

    gap: 1rem;
}

.button {
    font-size: 3rem;
}


.botDecided,
.youDecided,
.won,
.lost,
.tied {
    display: none;
}

.won {
    color: green;
}

.lost {
    color: red;
}

.tied {
    color: gray;
}